img {
    display: block;
    margin: 0 auto;
    background: #000;
    animation: fade 5s ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 0;
        ;
    }

    100% {
        opacity: 1;
    }
}

footer,
header {
    text-align: center;
}